/*****************************************************************
* Description: Navigation sheet for Cindy Schluckebier Portfolio
* Author: Cindy Schluckebier
* validated April 26, 2020 
*******************************************************************/
nav{
    width: 100%;
    height: 60px;
    background-color: white;
    }
nav p{
    font-family: "Oswald";
    color: #3366ff;
    font-size: 1.1667em; 
    float: left;
    padding: 0px 20px;
    }
nav ul{
    float: left;
    }
nav ul li{
    float: left;
    list-style: none;
    position: relative;
    text-align: center;
    padding: 0px 10px;
    }
nav ul li a{
    display: block;
    font-family: "Oswald";
    color: darkgray;
    font-size: 1em;
    padding: 3px 30px;
    text-decoration: none;
    text-align: center;
    }
nav ul li a:hover{
    background-color: #3366ff;
}
nav ul li ul{
    display: none;
    position: absolute;
    background-color: white;
    text-align: center;
    }
nav ul li:hover ul{
    display: block;
    }
nav ul li ul li a{
    padding: 3px 15px;
    }
nav ul li ul li a:hover{
    background-color: #3366ff;
    }
label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
}
#toggle {
    display: none;
}
@media only screen and (max-width: 640px){
    label {
        display: block;
    }
    #goals {
        display:none;
    }
    #menu {
        text-align: center;
        display: none;
        font-size: .75em;
        float: none;
    }
    #menu li {
        float: none;        
        padding: 0px 10px;
        margin: 0;
    }
    #menu a {
        background-color: white;
        width: 100%;
        display: block;
        font-size: 1em;
        padding: 3px 30px;
    }
    #menu a:hover{
        background-color: #3366ff;
    }
    #toggle:checked + #menu {
        display: block;
    }
}