h1 {color: #3366ff; font-size: 20pt; font-family: sans-serif; text-align: center; border-bottom: solid; border-bottom-width: 8px; border-bottom-color: darkgray; background-color: lightgray;}
h3 {color: #3366ff; font-size: 16pt; font-family: sans-serif; font-weight: bold;}
body {background-color: lightgray; margin: 15px;}
main p {font-size: 12pt; font-family: sans-serif;}
.Teacher {font-size: 12pt; font-family: sans-serif; color: #3399ff;}
.eMINTS {font-size: 12pt; font-family: sans-serif; color: #cc6633;}
img {float: right; padding: 8px; border-style: solid; border-width: 15px; border-color: darkgray; margin: auto;} 
main a:link {color: orange;}
main a:hover {color: red;}
main a:visited {color: green;}
main a:active {color: purple;}
main a:focus {color: pink;}
blockquote {font-family: sans-serif;}
footer {border-top: dotted; border-top-color: black; border-top-width: 4px; padding-top: 5px;}
footer::first-letter {font-size: 8pt;}
footer a:link {color: orange;}
footer a:hover {color: red;}
footer a:visited {color: green;}
footer a:active {color: purple;}
footer a:focus {color: pink;}
footer a {text-decoration: none; font-size: 10pt;}
/* validated April, 10 2020 */